body{ 
    background-color: blue;

}

.intro{ 
display: flex;
justify-content: center;
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
}
.indicaciones{
    display: flex;
    justify-content: baseline;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.escudo{
    display: flex;
    justify-content: center;
    height: 500px;
}
.titulocamisetas {
    margin: 0.5rem;
    padding: 0.5rem; }
.card {
    margin: 0 10px;
    max-width: 500px;
    margin-bottom: 0.5rem; }
.img.card-img-top{
        max-width: 500px;
    }